TaxiGO/web/WEB-INF/wsdl/localhost_8080/TaxiGOServerNew/Database.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="Database">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8080/TaxiGOServerNew/Database?xsd=1"/>
</xsd:schema>
</types>
<message name="addCustomer">
<part name="parameters" element="tns:addCustomer"/>
</message>
<message name="addCustomerResponse">
<part name="parameters" element="tns:addCustomerResponse"/>
</message>
<message name="getOperators">
<part name="parameters" element="tns:getOperators"/>
</message>
<message name="getOperatorsResponse">
<part name="parameters" element="tns:getOperatorsResponse"/>
</message>
<message name="getpriceinfo">
<part name="parameters" element="tns:getpriceinfo"/>
</message>
<message name="getpriceinfoResponse">
<part name="parameters" element="tns:getpriceinfoResponse"/>
</message>
<message name="removeuser">
<part name="parameters" element="tns:removeuser"/>
</message>
<message name="removeuserResponse">
<part name="parameters" element="tns:removeuserResponse"/>
</message>
<message name="reportuser">
<part name="parameters" element="tns:reportuser"/>
</message>
<message name="reportuserResponse">
<part name="parameters" element="tns:reportuserResponse"/>
</message>
<message name="addoperatorlogin">
<part name="parameters" element="tns:addoperatorlogin"/>
</message>
<message name="addoperatorloginResponse">
<part name="parameters" element="tns:addoperatorloginResponse"/>
</message>
<message name="addoperator">
<part name="parameters" element="tns:addoperator"/>
</message>
<message name="addoperatorResponse">
<part name="parameters" element="tns:addoperatorResponse"/>
</message>
<message name="addBooking">
<part name="parameters" element="tns:addBooking"/>
</message>
<message name="addBookingResponse">
<part name="parameters" element="tns:addBookingResponse"/>
</message>
<message name="getclients">
<part name="parameters" element="tns:getclients"/>
</message>
<message name="getclientsResponse">
<part name="parameters" element="tns:getclientsResponse"/>
</message>
<message name="updatePrice">
<part name="parameters" element="tns:updatePrice"/>
</message>
<message name="updatePriceResponse">
<part name="parameters" element="tns:updatePriceResponse"/>
</message>
<message name="getadmininfo">
<part name="parameters" element="tns:getadmininfo"/>
</message>
<message name="getadmininfoResponse">
<part name="parameters" element="tns:getadmininfoResponse"/>
</message>
<message name="getbookings">
<part name="parameters" element="tns:getbookings"/>
</message>
<message name="getbookingsResponse">
<part name="parameters" element="tns:getbookingsResponse"/>
</message>
<message name="getpriceinfoforoperator">
<part name="parameters" element="tns:getpriceinfoforoperator"/>
</message>
<message name="getpriceinfoforoperatorResponse">
<part name="parameters" element="tns:getpriceinfoforoperatorResponse"/>
</message>
<portType name="Database">
<operation name="addCustomer">
<input wsam:Action="http://service/Database/addCustomerRequest" message="tns:addCustomer"/>
<output wsam:Action="http://service/Database/addCustomerResponse" message="tns:addCustomerResponse"/>
</operation>
<operation name="getOperators">
<input wsam:Action="http://service/Database/getOperatorsRequest" message="tns:getOperators"/>
<output wsam:Action="http://service/Database/getOperatorsResponse" message="tns:getOperatorsResponse"/>
</operation>
<operation name="getpriceinfo">
<input wsam:Action="http://service/Database/getpriceinfoRequest" message="tns:getpriceinfo"/>
<output wsam:Action="http://service/Database/getpriceinfoResponse" message="tns:getpriceinfoResponse"/>
</operation>
<operation name="removeuser">
<input wsam:Action="http://service/Database/removeuserRequest" message="tns:removeuser"/>
<output wsam:Action="http://service/Database/removeuserResponse" message="tns:removeuserResponse"/>
</operation>
<operation name="reportuser">
<input wsam:Action="http://service/Database/reportuserRequest" message="tns:reportuser"/>
<output wsam:Action="http://service/Database/reportuserResponse" message="tns:reportuserResponse"/>
</operation>
<operation name="addoperatorlogin">
<input wsam:Action="http://service/Database/addoperatorloginRequest" message="tns:addoperatorlogin"/>
<output wsam:Action="http://service/Database/addoperatorloginResponse" message="tns:addoperatorloginResponse"/>
</operation>
<operation name="addoperator">
<input wsam:Action="http://service/Database/addoperatorRequest" message="tns:addoperator"/>
<output wsam:Action="http://service/Database/addoperatorResponse" message="tns:addoperatorResponse"/>
</operation>
<operation name="addBooking">
<input wsam:Action="http://service/Database/addBookingRequest" message="tns:addBooking"/>
<output wsam:Action="http://service/Database/addBookingResponse" message="tns:addBookingResponse"/>
</operation>
<operation name="getclients">
<input wsam:Action="http://service/Database/getclientsRequest" message="tns:getclients"/>
<output wsam:Action="http://service/Database/getclientsResponse" message="tns:getclientsResponse"/>
</operation>
<operation name="updatePrice">
<input wsam:Action="http://service/Database/updatePriceRequest" message="tns:updatePrice"/>
<output wsam:Action="http://service/Database/updatePriceResponse" message="tns:updatePriceResponse"/>
</operation>
<operation name="getadmininfo">
<input wsam:Action="http://service/Database/getadmininfoRequest" message="tns:getadmininfo"/>
<output wsam:Action="http://service/Database/getadmininfoResponse" message="tns:getadmininfoResponse"/>
</operation>
<operation name="getbookings">
<input wsam:Action="http://service/Database/getbookingsRequest" message="tns:getbookings"/>
<output wsam:Action="http://service/Database/getbookingsResponse" message="tns:getbookingsResponse"/>
</operation>
<operation name="getpriceinfoforoperator">
<input wsam:Action="http://service/Database/getpriceinfoforoperatorRequest" message="tns:getpriceinfoforoperator"/>
<output wsam:Action="http://service/Database/getpriceinfoforoperatorResponse" message="tns:getpriceinfoforoperatorResponse"/>
</operation>
</portType>
<binding name="DatabasePortBinding" type="tns:Database">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOperators">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getpriceinfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeuser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="reportuser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addoperatorlogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addoperator">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getclients">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updatePrice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getadmininfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getbookings">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getpriceinfoforoperator">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Database">
<port name="DatabasePort" binding="tns:DatabasePortBinding">
<soap:address location="http://localhost:8080/TaxiGOServerNew/Database"/>
</port>
</service>
</definitions>